<doctype html>
<html  ng-app="app">
    <head>
          <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body >
        <br><br>
       <div class="container">
            <header>
     
        </header>
        <sectio>
            <div>
                @RenderBody()
            </div>
        </sectio>
        <footer>

        </footer>
       </div>
      
    </body>
</html>
 <script src="~/lib/angular/angular.min.js"></script>   
 <script src="~/js/app.js"></script>